* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "roboto";
}

p {
    font-size: 1rem;
    line-height: 1.9rem;
}

a {
    text-decoration: none;
}

.main-container {
    width: 1100px;
    margin: 0 auto;
}

.btn {
    padding: 0.7rem 1.5rem;
    background-color: #b35db1; /* Warna latar belakang hijau */
    color: white; /* Warna teks putih */
    border: none;
    border-radius: 5px; /* Radius sudut 5px */
    cursor: pointer;
    font-family: 'Robotto'; /* Gunakan font Arial atau font sans-serif lainnya */
    font-size: 16px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan */
    transition: background-color 0.3s, color 0.3s; /* Transisi untuk efek hover */
}

.btn:hover {
    background-color: #d8add5; /* Warna latar belakang hijau lebih gelap saat dihover */
    color: white; /* Warna teks putih saat dihover */
}

/* title */
.pre-title {
    letter-spacing: 0.5rem;
    margin-bottom: 1;
    color: grey;
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 1rem;
}

.pre-title::before {
    text-transform: uppercase;
    content: "";
    width: 20px;
    height: 1px;
    background: black;
    position: absolute;
    left: 0;
    top: 50%;
}

/* logo dan nav bar menu */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    transition: 0.2s ease-in-out;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.nav ul li a:hover {
    color: rgb(229, 85, 195);
    transition: 0.3s;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
    margin-left: 2rem;
}

.logo a{
    color: rgb(0, 0, 0);
}

nav ul li a {
    color: black;
}

/* Home Section */
#home {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.home-name {
    font-size: 3rem;
    font-weight: 700;
    margin: rem 0 0.5rem;
    color: black;
    right: -100px;
}

.home-right img {
    width: 700px;
    height: 700px;
    border-radius: 0.7rem;
}

.home-right {
    display:flex;
    justify-content:right;
}

section {
    padding-left: 3rem;
    padding-bottom: 5rem;
}

.home-left {
    width: 150%; /* Atur lebar home left */
    float: left; /* Float ke kiri untuk memungkinkan home right berada di sebelah kanan */
}

.home-right {
    width: 120%; /* Atur lebar home right */
    float: right; /* Float ke kanan */
}


/* Teks pre-title */
.pre-title {
    color: grey;
    font-weight: 400;
    font-size: 1rem;
}

  /* Animasi mengetik pada pre-title */
#fade-in-typing {
    display: inline-block;
    overflow: hidden;
}

  /* Teks home-name */

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 4s ease forwards;
}

@keyframes fadeInAnimation {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
}

.home-right.fade-in-img img {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.home-right.fade-in-img img.fade-in {
    opacity: 1;
}


/* ABOUT */
#about {
    background-color: rgb(232, 212, 228);
    padding: 6rem 0;
}


.section-title-about {
    text-align: center;
    margin: 1rem 0 4rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

.about {
    padding: 3rem 2rem;
    text-align: center;
    background: rgb(183, 140, 154);
    border-radius: 0.7rem;
}

.about:hover{
    transform:scale(1.1);
}

.about h4 {
    color: white;
    margin: 0.5rem 0;
}

.about p {
    color: white;
}

.about-icon {
    background-color: rgb(232, 212, 228);
    width:fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}


/* END OF ABOUT */

/* SKILLS & EXPERIENCE */
#skills {
    padding: 6rem;
    background: white;
}

.section-titles-skills {
    text-align: center;
    margin: 1rem 0 4rem;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.experience {
    display: flex;
    gap: 2rem;
}

.experience line {
    padding: 0 0.7rem;
}

.experience .line div {
    width: 2px;
    height: 100%;
    background: black;
    position: relative;
}

.experience-info {
    margin: 0.3rem 0;
}

.experience-date {
    margin-bottom: 3rem;
}

.experience .line div::before {
    content: "";
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
    position: absolute;
    left: -6px;
}

.skills-list {
    display:  grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
}

.skills-right {
    line-height: 2rem;
    padding: 0 1rem;
}

.skills-left {
    width: 90%; /* Atur lebar home left */
    float: left; /* Float ke kiri untuk memungkinkan home right berada di sebelah kanan */
}

.skills-right {
    width: 100%; /* Atur lebar home right */
    float: right; /* Float ke kanan */
}
/* END SKILL & EXPERIENCE */

/* CONTACT */
#contact {
    padding: 6rem;
    background-color: rgb(232, 212, 228);
}

.contact-form div {
    margin-bottom: 1.4rem;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.75rem 1.3rem;
    font-family: "Roboto", Sans-Serif;
    background: white;
    border: 1px solid  gainsboro;
    border-radius: 3px;
    resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: black;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 1px solid gray;
}

.btn-submit {
    width: 100%;
    padding: 0.75rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn-submit:hover {
    background-color: rgb(209, 207, 207);
    color: black;
}
/* END OF CONTACT */

/* FOOTER */
footer {
    margin-bottom: 0;
    padding: 4rem 0;
    background: rgb(89, 64, 84);
    text-align: center;
}

.footer-icons {
    margin-bottom: 1rem;
}

.footer-icons a{
    margin: 0 0.5rem;
}

.footer-icons a:hover {
    fill: black;
}

.footer-icons {
    fill:grey;
}